<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Servlet-api</display-name>
	<context-param>
		<param-name>jdbcConnectionString</param-name>
		<param-value>Server=localhost:/;Database=myDataBase;Uid=myUsername;Pwd=myPassword;</param-value>
	</context-param>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>/*</url-pattern>
			<el-ignored>false</el-ignored>
		</jsp-property-group>
	</jsp-config>

	<!-- <security-constraint> <web-resource-collection> <web-resource-name>MyServlet 
		WebResourceName</web-resource-name> <url-pattern>/welcome.html</url-pattern> 
		<url-pattern>/MyServlet</url-pattern> <http-method>GET</http-method> <http-method>POST</http-method> 
		</web-resource-collection> <auth-constraint> <role-name>Admin</role-name> 
		</auth-constraint> </security-constraint> <security-constraint> <web-resource-collection> 
		<web-resource-name>MyServlet WebResourceName2</web-resource-name> <url-pattern>/documentaliste.html</url-pattern> 
		<http-method>GET</http-method> <http-method>POST</http-method> </web-resource-collection> 
		<auth-constraint> <role-name>Documentaliste</role-name> </auth-constraint> 
		</security-constraint> <security-role> <role-name>Admin</role-name> </security-role> 
		<security-role> <role-name>Documentaliste</role-name> </security-role> <login-config> 
		<auth-method>FORM</auth-method> <form-login-config> <form-login-page>/welcome.html</form-login-page> 
		<form-error-page>/welcomeError.html</form-error-page> </form-login-config> 
		</login-config> -->




</web-app>